{% extends "Staff/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">

  <table class="table table-bordered"  style="width: 500px;">
    <tr>
      <th scope="col">#</th>
        <th scope="col">USERNAME</th>

      <th scope="col">DOUBT</th>
      <th scope="col">DOUBT DATE</th>
      <th scope="col"></th>
    </tr>
      {% for i in data %}
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ i['username'] }}</td>
          <td>{{ i['doubt'] }}</td>
          <td>{{ i['d_date'] }}</td>
          <td>
              {% if i['reply']=='pending' %}
              <a href="/sreply/{{ i['doubt_id'] }}">Reply</a>
              {% else %}
              Reply: {{ i['reply'] }}<br>
                Date:{{ i['r_date'] }}
          {% endif %}</td>
      </tr>
      {% endfor %}
  </table>

</form>
{% endblock %}
