{% extends "Admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<div align="center">

  <table class="table table-bordered"  style="width: 500px;">
      <tr>
          <th>Department</th>
          <td>
              <select name="s" class="form-control">
                  <option>--select--</option>
                  {% for i in data %}
                  <option value="{{ i['department_id'] }}">{{ i['department_name'] }}</option>
                  {% endfor %}

              </select>
          </td>
      </tr>
    <tr>
      <th scope="row">COURSE</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</div>
</form>
{% endblock %}