<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="/static/main_temp/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/main_temp/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/static/main_temp/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/static/main_temp/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="/static/main_temp/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/static/main_temp/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/static/main_temp/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/static/main_temp/css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond./static/main_temp//static/main_temp/js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="/static/main_temp/images/logo/logo_icon.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="/static/main_temp/images/layout_img/user_img.jpg" alt="#" /></div>
                        <div class="user_info">
                           <h6>ADMIN</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">

                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-building yellow_color"></i> <span>DEPARTMENT</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="/department_add">> <span>Add department</span></a>
                           </li>
                           <li>
                              <a href="/department_view">> <span>View Department</span></a>
                           </li>
                        </ul>
                     </li>


                      <li>
                        <a href="#dashboard2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-file-text-o yellow_color"></i> <span>COURSE</span></a>
                        <ul class="collapse list-unstyled" id="dashboard2">
                           <li>
                              <a href="/course_add">> <span>Add course</span></a>
                           </li>
                           <li>
                              <a href="/course_view">> <span>View course</span></a>
                           </li>
                        </ul>
                     </li>
                      <li>
                       <a href="#dashboard3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-user yellow_color"></i> <span>STAFF</span></a>
                        <ul class="collapse list-unstyled" id="dashboard3">
                           <li>
                              <a href="/staff_add">> <span>Add staff</span></a>
                           </li>
                           <li>
                              <a href="/staff_view">> <span>View staff</span></a>
                           </li>
                        </ul>
                     </li>

                     <li>
                        <a href="#dashboard4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-file-text purple_color"></i> <span>SUBJECT</span></a>
                        <ul class="collapse list-unstyled" id="dashboard4">
                           <li>
                              <a href="/subject_add">> <span>Add subject</span></a>
                           </li>
                           <li>
                              <a href="/subject_view">> <span>View subject</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#dashboard5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>SUBJECT ALLOCATION</span></a>
                        <ul class="collapse list-unstyled" id="dashboard5">
                           <li>
                              <a href="/suballoc_add">> <span>Allocate subject</span></a>
                           </li>
                           <li>
                              <a href="/suballoc_view">> <span>View allocated subject</span></a>
                           </li>
                        </ul>
                     </li>
                     <li>
                         <a href="/view_prev_qp">
                             <i class="fa fa-file-text blue1_color"></i> <span>QUESTION PAPERS</span></a>
                     </li>
                     <li><a href="/user_view"><i class="fa fa-users red_color"></i> <span>USERS</span></a>
                     </li>
                      <li><a href="/suggestion_view"><i class="fa fa-mail-forward red_color"></i> <span>SUGGESTIONS</span></a>
                     </li>
                      <BR>
                       <li><a href="/logout"><i class="fa fa-power-off red_color"></i> <span>LOGOUT</span></a>
                     </li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html">
{#                               <img class="img-responsive" src="/static/main_temp/images/logo/logo.png" alt="#" />#}
                              <br>
                               <h2 style="color: #fff;"><span style="color: #1A9181;">  LER</span>NEN</h2>
                           </a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info" style="padding-right: 95px;">
{#                              <ul>#}
{#                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>#}
{#                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>#}
{#                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>#}
{#                              </ul>#}
                              <ul>
{#                                 <li>#}
{#                                    #}
{#                                        <i class="fa fa-sign-out"></i>#}
{#                                        <img class="img-responsive rounded-circle" src="/static/main_temp/images/layout_img/user_img.jpg" alt="#" />#}
{#                                       <a href="/logout">LOGOUT</a>#}
{##}
{#                                 </li>#}
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Admin Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     <!-- graph -->
                     <div class="row column2 graph margin_bottom_30">
                        <div class="col-md-l2 col-lg-12">
                           <div class="white_shd full">
                              <div class="full graph_head">
                                  {% block body %}

                                     {% endblock %}
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end graph -->


                  </div>
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                           Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="/static/main_temp/js/jquery.min.js"></script>
      <script src="/static/main_temp/js/popper.min.js"></script>
      <script src="/static/main_temp/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/static/main_temp/js/animate.js"></script>
      <!-- select country -->
      <script src="/static/main_temp/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="/static/main_temp/js/owl.carousel.js"></script>
      <!-- chart js -->
      <script src="/static/main_temp/js/Chart.min.js"></script>
      <script src="/static/main_temp/js/Chart.bundle.min.js"></script>
      <script src="/static/main_temp/js/utils.js"></script>
      <script src="/static/main_temp/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="/static/main_temp/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/static/main_temp/js/custom.js"></script>
      <script src="/static/main_temp/js/chart_custom_style1.js"></script>
   </body>
</html>