{% extends "Admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">
<div align="center">
<table class="table table-bordered"  style="width: 500px;">
  <tr>
    <th scope="row">STAFF NAME</th>
    <td>
      <input type="text" name="textfield" id="textfield" />
    </td>
  </tr>
  <tr>
    <th scope="row">PHONE.NO</th>
    <td><input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">EMAIL ID</th>
    <td><input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">QUALIFICATION</th>
    <td><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <th scope="row">ADHAAR NO</th>
    <td><input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">PROFILE PHOTO</th>
    <td>
      <label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" />
    </td>
  </tr>
     <tr>
    <th scope="row">PASSWORD</th>
    <td><input type="password" name="textfield6" id="textfield6" /></td>
  </tr>
      <tr>
    <th scope="row">CONFIRM PASSWORD</th>
    <td><input type="password" name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="button" id="button" value="ADD" class="btn btn-success"/>
    </td>
  </tr>
</table>
</div>
</form>
{% endblock %}
