{% extends "Admin/index.html" %}
{% block body %}
<table width="409" border="1">
  <tr>
    <th scope="row">SUBJECT</th>
    <td><label for="select"></label>
      <select name="select" id="select">
      </select></td>
  </tr>
  <tr>
    <th scope="row">STAFF</th>
    <td><label for="select2"></label>
      <select name="select2" id="select2">
      </select></td>
  </tr>
  <tr>
    <th height="197" colspan="2" scope="row"><input type="submit" name="button" id="button" value="UPDATE" /></th>
  </tr>
</table>
{% endblock %}
