{% extends "Admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="335" height="277" border="1">
    <tr>
      <th scope="row">USERNAME</th>
      <td><label for="textfield2"></label>
        <input type="text" name="textfield" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row">ADHAAR NO</th>
      <td><label for="textfield3"></label>
        <input type="text" name="textfield2" id="textfield3" /></td>
    </tr>
    <tr>
      <th scope="row">PROFILE PIC</th>
      <td><label for="textfield4"></label>
        <input type="text" name="textfield3" id="textfield4" /></td>
    </tr>
    <tr>
      <th scope="row">EMAIL ID</th>
      <td><label for="textfield5"></label>
        <input type="text" name="textfield4" id="textfield5" /></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label for="textfield6"></label>
        <input type="text" name="textfield5" id="textfield6" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
{% endblock %}
